In [1]:
import os
import pandas as pd
import numpy as np
import pyarrow
from sqlalchemy import create_engine
from time import time

In [2]:
# Declare the ingestion script parameters
user="osboxes"
password="osboxes.org"
host="0.0.0.0"
port=5432
db="ny_taxi"
table_name="ny_taxi"
url = r'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-01.parquet'
parquet_name = 'yellow_tripdata_2022-01.parquet'
csv_name = 'data.csv'

In [3]:
# Download parquet file from the url
#df = os.system(f"wget {url} -O {parquet_name}")
#df = pd.read_parquet(url, engine='pyarrow')
#df = pd.read_parquet(parquet_name, engine='pyarrow')
#df.to_csv(csv_name, index=False)
df = pd.read_csv(csv_name, nrows=50000)
print(df.shape)
df.head()

(50000, 19)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [4]:
# Connect to Postgres with SQLAlchemy
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')
engine

Engine(postgresql://osboxes:***@0.0.0.0:5432/ny_taxi)

In [5]:
# Convert datetime fields to pandas datetime types
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

# Insert data into postgres database by chunks
df_iter = pd.read_csv(csv_name, nrows=50000, iterator=True, chunksize=5000)

# Convert Schema to DDL with SQLAlchemy
df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')

0

In [6]:

#df = next(df_iter)

# Insert dataframe values in Postgres Database
#df.to_sql(name=table_name, con=engine, if_exists='append')

# Time the ingestion process and print ingestion status
while True:
    
    if df_iter.chunksize >= 5000:

        t_start = time()

        df = next(df_iter)

        df.to_sql(name=table_name, con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, it took %.3f seconds' % (t_end - t_start))

        print("Next chunk loading...")
    
    else:
        raise StopIteration('That was the last chunk of data to ingest')

print("Completed data ingestion to PostgreSQL")

inserted another chunk, it took 3.009 seconds
Next chunk loading...
inserted another chunk, it took 3.583 seconds
Next chunk loading...
inserted another chunk, it took 2.402 seconds
Next chunk loading...
inserted another chunk, it took 2.140 seconds
Next chunk loading...
inserted another chunk, it took 3.375 seconds
Next chunk loading...
inserted another chunk, it took 3.310 seconds
Next chunk loading...
inserted another chunk, it took 2.292 seconds
Next chunk loading...
inserted another chunk, it took 3.432 seconds
Next chunk loading...
inserted another chunk, it took 2.557 seconds
Next chunk loading...
inserted another chunk, it took 2.344 seconds
Next chunk loading...

StopIteration:

In [ ]:
"""

# Insert data into postgres database by chunks
df_iter = pd.read_csv(csv_name, nrows=50000, iterator=True, chunksize=5000)
#df = next(df_iter)

# Insert dataframe values in Postgres Database
#df.to_sql(name=table_name, con=engine, if_exists='append')

# Time the ingestion process and print ingestion status
while True:
    try:
        t_start = time()

        df = next(df_iter)

        df.to_sql(name=table_name, con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, it took %.3f seconds' % (t_end - t_start))
        print("Next chunk loading...")

    except StopIteration:
        print("That was the last chunk")
        
    finally:
        print("Completed data ingestion to PostgreSQL")
else:
    

    print("That's all")

"""